{% load static %}
<!DOCTYPE html>
<html>
<title>FDJ</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body>

<!-- Top header -->
<header class="w3-container w3-xlarge">
      <div style="background-color:Pink;color:white;padding:80px;">
        <p class="w3-right">
                 <a href="/register/" class="w3-bottom-left"><button type="submit" class="w3-black w3-large">Sign up </button></a>
        <a href="/log_in/" class="w3-bottom-left"><button type="submit" class="w3-black w3-large">Log in </button></a>
</p>

      </div>

</header>



    </div>
</div>
<!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="{% static "images/fdj.jpg" %}" alt="Classy Look" style="width:100%">
  </div>
<!-- Footer -->
  <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
    <div class="w3-row">
    <div class="w3-col m4 l3">
            <h4><strong>OPENING HOURS:</strong></h4>
            <p> Monday to Friday: 7 am to 12 am </p>
            <p> Saturday and Sunday: 9 am to 12 am</p>
    </div>



    </div>
  </footer>

</body>
</html>