
{% load static %}
<!DOCTYPE html>
<html>
<title>Policies</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <a href="/main/" class="w3-wide" style="text-decoration:none"><h3><b>FDJ</b></h3></a>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a onclick="myAccFuncWomen()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtnWomen">
      Women <i class="fa fa-caret-down"></i></a>
    <div id="demoAccWomen" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="/shirts/" class="w3-bar-item w3-button">Shirts</a>
      <a href="/dresses/" class="w3-bar-item w3-button">Dresses</a>
      <a href="/sweaters/" class="w3-bar-item w3-button">Sweaters</a>
      <a href="/coats&jackets/" class="w3-bar-item w3-button">Coats&Jackets</a>
      <a href="/jeans/" class="w3-bar-item w3-button">Jeans</a>
      <a href="/skirts/" class="w3-bar-item w3-button">Skirts</a>
      <a href="/shoes/" class="w3-bar-item w3-button">Shoes</a>
    </div>
    <a onclick="myAccFuncMen()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtnMen">
      Men <i class="fa fa-caret-down"></i></a>
    <div id="demoAccMen" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="#" class="w3-bar-item w3-button">T-Shirts</a>
      <a href="#" class="w3-bar-item w3-button">Sweats&Hoodies</a>
      <a href="#" class="w3-bar-item w3-button">Jeans</a>
      <a href="#" class="w3-bar-item w3-button">Coats&Jackets</a>
      <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
  </div>
</nav>


<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:235px">
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
      <div style="background-color:black;color:white;padding:20px;">
        <h3 class="w3-wide"><b>HELP CENTER</b></h3>
      </div>
  </header>


  <!-- BODY -->
<div class="w3-main" style="margin-left:235px;margin-right:0px">

  <!-- The Grid -->
  <div class="w3-display-position w3-padding " style="top:100px;left:235px">
      <h2>About</h2>
      <p>FDJ is a global fashion destination for 20-somethings. We sell cutting-edge fashion and offer a wide variety of fashion-related content.</p>
      <h2>Payment</h2>
      <p>Right now we only accept the cash payment on delivery.</p>
      <h2>Delivery</h2>
      <p>We know how important it is to receive your goods when you expect them, especially if you've ordered something for a specific occasion, and we use a large network of couriers to deliver goods.
          We allocate the courier to deliver your order based on the delivery method selected and the value of your order.
          Delivery is within 3 working days from the moment you submit your order.
           If your order is above £20.00, no delivery charge will be applied. If your order value is less than this, the delivery charge is £3.00.</p>
      <h2>Returns</h2>
      <p>You can return your item for an exchange within 28 days, as long as the new item has the same product code as the original product you ordered.
          If you want to exchange for a different colour, the price of both colours must be the same as the price at which you bought the original product.
      If the item is out of stock in the size or colour you have opted for, then a refund will be processed instead.</p>
      <button  class="w3-black w3-xlarge">
            <a href="/main/" style="text-decoration:none;font-size:80%;" > Back to the main page</a>
      </button>
  </div>
</div>
</div>


<script>
// Accordion
function myAccFuncWomen() {
    var x = document.getElementById("demoAccWomen");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

function myAccFuncMen() {
    var x = document.getElementById("demoAccMen");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtnWomen").click();
document.getElementById("myBtnMen").click();


// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}


</script>

</body>
</html>
